body {
  background-color: var(--bg-color-main);
  font-family: "Roboto", sans-serif;
  color: var(--text-color-second);
  margin: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flexing-items {
  display: flex;
}

:root {
  --chromatic-color: #2196f3;
  --chromatic-color-hover: #188ce8;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --button-shadow: rgba(0%, 0%, 0%, 15%);
  --filter-buttons-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --invisible-heading: rgba(0%, 0%, 0%, 0%);
  --heading-color: #212121;
  --footer-kontakts-color: rgba(100%, 100%, 100%, 60%);
  --bg-color-first: #ffffff;
  --bg-color-second: #f5f4fa;
  --bg-color-third: #2f303a;
  --bg-color-main: #e5e5e5;
  --text-color-first: #212121;
  --text-color-second: #757575;
  --text-color-third: #ffffff;
  /* Вертикальный отступ между секциями Главной страницы */
  --main-sections-vertical-space: 94px;
}

/* Устранение лишнего */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.invisible-heading {
  color: var(--invisible-heading);
  font-size: 0px;
}

/* ХЕДЕР и ФУТЕР */

.page-header {
  background-color: var(--bg-color-first);
  height: 80px;
  margin: auto 0px;
  border-bottom: 1px solid var(--header-border-color);
}

.header-navigation-container {
  margin: auto 0px;
}

.header-links-list {
  margin: auto 0px auto 93px;
  width: 294px;
  justify-content: space-between;
}

.header-kontakts-list {
  margin: auto 0px auto auto;
  width: 307px;
  justify-content: space-between;
}

.page-footer {
  background-color: var(--bg-color-third);
  height: 252px;
  align-items: center;
}

.page-footer-list {
  margin-top: 20px;
}

/* ЛОГОТИП в футере и хедере */

.logo-header {
  font-family: "Raleway", sans-serif;
  color: var(--chromatic-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header span {
  color: var(--logo-header);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--chromatic-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer span {
  color: var(--logo-footer);
}

/* ССЫЛКИ в футере и хедере */

.header-links {
  color: var(--heading-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-links:hover,
.header-links:focus {
  color: var(--chromatic-color);
}

.header-kontakts {
  color: var(--text-color-second);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-kontakts:hover,
.header-kontakts:focus {
  color: var(--chromatic-color);
}

.footer-kontakts {
  color: var(--footer-kontakts-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-kontakts:hover,
.footer-kontakts:focus {
  color: var(--text-color-third);
}

/* ГЛАВНАЯ */

/* Заголовки уровней 1 и 2 */

.heading-one {
  color: var(--text-color-third);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.heading-two {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Секция "Заказать услугу" */

.order-service-section {
  background-color: var(--bg-color-third);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.order-service-button {
  background-color: var(--chromatic-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px var(--button-shadow);
  border-radius: 4px;
  border: none;
  color: var(--text-color-third);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: var(--chromatic-color-hover);
}

/* Секция Положительных характеристик */

.characteristics {
  background-color: var(--bg-color-first);
}

.characteristics-list {
  justify-content: space-between;
  padding: var(--main-sections-vertical-space) 0px;
}

.characteristics-list li {
  width: 270px;
}

.characteristics h3 {
  color: var(--heading-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
}

.characteristics p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Секция "Чем мы занимаемся" */

.what-we-do {
  background-color: var(--bg-color-first);
  padding-bottom: var(--main-sections-vertical-space);
}

.what-we-do-list {
  justify-content: space-between;
}

/* Секция "Наша Команда" */

.our-team {
  background-color: var(--bg-color-second);
  padding-top: var(--main-sections-vertical-space);
  padding-bottom: var(--main-sections-vertical-space);
  letter-spacing: 0.03em;
}

.our-team ul {
  justify-content: space-between;
}

.our-team li {
  background-color: var(--bg-color-first);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team h3 {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.our-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

/* ПОРТФОЛИО */

.portfolio {
  background-color: var(--bg-color-first);
}

/* Фильтр-Кнопки страницы "Портфолио" */

.filter-buttons-list {
  display: flex;
  width: 611px;
  margin: 94px auto 50px auto;
  justify-content: space-between;
}

.filter-buttons {
  background-color: var(--bg-color-second);
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--text-color-first);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-buttons:hover,
.filter-buttons:focus {
  background-color: var(--chromatic-color);
  box-shadow: var(--filter-buttons-shadow);
  color: var(--text-color-third);
}

/* Элементы страницы "Портфолио" */

.portfolio-items {
  background-color: var(--bg-color-first);
  width: 370px;
  height: 404px;
  border: 1px solid var(--portfolio-border-color);
  box-sizing: border-box;
  text-align: center;
}

.portfolio-items h3 {
  color: var(--text-color-first);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-items p {
  color: var(--text-color-second);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
